*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font: size 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid red;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: red;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background: url(img/cover2.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color: rgb(161, 4, 4);
    transition: 0.5s;
}
h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: 25px 25px 25px 5px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.apple{
    background: url(../images/bg/bg.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.apple h1{
    font-family: 'Lobster', cursive;
}
.news{
    background-color: black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}
.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline:  none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.news::placeholder{
    color: white;
}
.news p{
    margin: 0;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}